<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devilcity.messdl" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.AppCompat" >
        <activity
            android:name="com.devilcity.messdl.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.devilcity.messdl.MondayBreakfast"
            android:label="@string/title_activity_monday_breakfast"
            android:parentActivityName=".DayActivityMonday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityMonday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.MondayLunch"
            android:label="@string/title_activity_monday_lunch"
            android:parentActivityName=".DayActivityMonday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityMonday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.MondaySnacks"
            android:label="@string/title_activity_monday_snacks"
            android:parentActivityName=".DayActivityMonday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityMonday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.MondayDinner"
            android:label="@string/title_activity_monday_dinner"
            android:parentActivityName=".DayActivityMonday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityMonday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.TuesdayBreakfast"
            android:label="@string/title_activity_tuesday_breakfast"
            android:parentActivityName=".DayActivityTuesday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityTuesday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.TuesdayLunch"
            android:label="@string/title_activity_tuesday_lunch"
            android:parentActivityName=".DayActivityTuesday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityTuesday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.TuesdaySnacks"
            android:label="@string/title_activity_tuesday_snacks"
            android:parentActivityName=".DayActivityTuesday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityTuesday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.TuesdayDinner"
            android:label="@string/title_activity_tuesday_dinner"
            android:parentActivityName=".DayActivityTuesday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityTuesday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.WednesdayBreakfast"
            android:label="@string/title_activity_wednesday_breakfast"
            android:parentActivityName=".DayActivityWednesday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityWednesday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.WednesdayLunch"
            android:label="@string/title_activity_wednesday_lunch"
            android:parentActivityName=".DayActivityWednesday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityWednesday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.WednesdaySnacks"
            android:label="@string/title_activity_wednesday_snacks"
            android:parentActivityName=".DayActivityWednesday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityWednesday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.WednesdayDinner"
            android:label="@string/title_activity_wednesday_dinner"
            android:parentActivityName=".DayActivityWednesday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityWednesday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.ThursdayBreakfast"
            android:label="@string/title_activity_thursday_breakfast"
            android:parentActivityName=".DayActivityThursday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityThursday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.ThursdayLunch"
            android:label="@string/title_activity_thursday_lunch"
            android:parentActivityName=".DayActivityThursday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityThursday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.ThursdaySnacks"
            android:label="@string/title_activity_thursday_snacks"
            android:parentActivityName=".DayActivityThursday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityThursday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.ThursdayDinner"
            android:label="@string/title_activity_thursday_dinner"
            android:parentActivityName=".DayActivityThursday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityThursday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.FridayLunch"
            android:label="@string/title_activity_friday_lunch"
            android:parentActivityName=".DayActivityFriday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityFriday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.FridayBreakfast"
            android:label="@string/title_activity_friday_breakfast"
            android:parentActivityName=".DayActivityFriday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityFriday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.FridayDinner"
            android:label="@string/title_activity_friday_dinner"
            android:parentActivityName=".DayActivityFriday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityFriday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.FridaySnacks"
            android:label="@string/title_activity_friday_snacks"
            android:parentActivityName=".DayActivityFriday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivityFriday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.SaturdayBreakfast"
            android:label="@string/title_activity_saturday_breakfast"
            android:parentActivityName=".DayActivitySaturday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivitySaturday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.SaturdayLunch"
            android:label="@string/title_activity_saturday_lunch"
            android:parentActivityName=".DayActivitySaturday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivitySaturday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.SaturdayDinner"
            android:label="@string/title_activity_saturday_dinner"
            android:parentActivityName=".DayActivitySaturday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivitySaturday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.SaturdaySnacks"
            android:label="@string/title_activity_saturday_snacks"
            android:parentActivityName=".DayActivitySaturday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivitySaturday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.SundayDinner"
            android:label="@string/title_activity_sunday_dinner"
            android:parentActivityName=".DayActivitySunday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivitySunday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.SundayLunch"
            android:label="@string/title_activity_sunday_lunch"
            android:parentActivityName=".DayActivitySunday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivitySunday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.SundayBreakfast"
            android:label="@string/title_activity_sunday_breakfast"
            android:parentActivityName=".DayActivitySunday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivitySunday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.SundaySnacks"
            android:label="@string/title_activity_sunday_snacks"
            android:parentActivityName=".DayActivitySunday" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.DayActivitySunday" />
        </activity>
        <activity
            android:name="com.devilcity.messdl.WeekActivity"
            android:label="@string/title_activity_week" >
        </activity>
        <activity
            android:name=".DayActivityMonday"
            android:label="@string/title_activity_day"
            android:parentActivityName="com.devilcity.messdl.WeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.WeekActivity" />
        </activity>
        <activity
            android:name=".DayActivityTuesday"
            android:label="@string/title_activity_day_activity_tuesday"
            android:parentActivityName="com.devilcity.messdl.WeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.WeekActivity" />
        </activity>
        <activity
            android:name=".DayActivityWednesday"
            android:label="@string/title_activity_day_activity_wednesday"
            android:parentActivityName="com.devilcity.messdl.WeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.WeekActivity" />
        </activity>
        <activity
            android:name=".DayActivityThursday"
            android:label="@string/title_activity_day_activity_thursday"
            android:parentActivityName="com.devilcity.messdl.WeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.WeekActivity" />
        </activity>
        <activity
            android:name=".DayActivityFriday"
            android:label="@string/title_activity_day_activity_friday" >
            android:parentActivityName=".WeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.WeekActivity" />
        </activity>
        <activity
            android:name=".DayActivitySaturday"
            android:label="@string/title_activity_day_activity_saturday"
            android:parentActivityName="com.devilcity.messdl.WeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.WeekActivity" />
        </activity>
        <activity
            android:name=".DayActivitySunday"
            android:label="@string/title_activity_day_activity_sunday"
            android:parentActivityName="com.devilcity.messdl.WeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.devilcity.messdl.WeekActivity" />
        </activity>
    </application>

</manifest>
